<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}
    DocumentRoot {{ wordpress_core_path }}
    <Directory "{{ wordpress_core_path }}">
        Options FollowSymLinks Indexes
        AllowOverride All
    </Directory>
</VirtualHost>
